<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.falkenapps.macgyver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.network" />
    <uses-feature android:name="android.hardware.location.gps" />
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_house"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_home_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" />
        <activity android:name=".professional.ProfessionalActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".welcome.WelcomeActivity"
            android:theme="@style/WelcomeTheme" />
        <activity
            android:name=".welcome.AdviseSignInActivity"
            android:theme="@style/AdviseTheme" />
        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".login.SignUpWithEmailActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".search.SearchActivity"></activity>
        <activity android:name=".favorites.FavoritesActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".info.InfoActivity"
            android:theme="@style/AppTheme"/>


    </application>

</manifest>